.footer__item {
    display: flex;
    flex-direction: row;
    gap: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .footer__item {
        margin-left: 16px;
        flex-direction: column;
        gap: 32px;;
    }
}