.video__container {
    margin: 72px auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(323px, 1fr);
    column-gap: 18px;
}